<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Marcas | CRE Sistemas</title>
        <link rel="shortcut icon" href="../images/logo.webp">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/styles.css">
        <script src="https://kit.fontawesome.com/031c2785bc.js" crossorigin="anonymous"></script>
    </head>
<body>
    <header>
        <div class="nav">
            <a href="../index.html" class="logo"><img src="../images/logo.webp" alt=""></a>
            
            <input type="checkbox" id="menu-bar">
            <label for="menu-bar"><i class="fas fa-bars"></i></label>

            <nav class="navbar">
                <ul>
                    <li><a href="../index.html">INICIO</a></li>
                    <li><a href="../views/products.html">NUESTROS PRODUCTOS</a></li>
                    <li><a class="active" href="../views/trademarks.html">MARCAS</a></li>
                    <li><a href="../views/about.html">NOSOTROS</a></li>
                    <li><a href="../views/contact.html">CONTACTO</a></li>
                </ul>
            </nav>
        </div> 
    </header>
        <div class="content_trademarks">
            <div class="content_image_trademarks">
                <div class="title_trademarks">
                    <h1>MARCAS</h1>
                </div>
            </div>
            <div class="subtitle_trademarks">
                <p>
                    Los equipos están fabricados cumpliendo con la más alta calidad en los materiales y en las partes electrónicas
                    que hacen que sean completamente confiables.
                </p>
            </div>
            <div class="container_trademarks">
                <div class="container_body_trademarks">
                    <div class="container_items_trademarks">
                        <div class="container_card_trademarks">
                            <div class="container_picture_trademarks">
                                <img src="../images/woodward.png" alt="">
                            </div>
                        </div>
                        <div class="container_card_trademarks">
                            <div class="container_picture_trademarks">
                                <img src="../images/flowserve.png" alt="">
                            </div>
                        </div>
                        <div class="container_card_trademarks">
                            <div class="container_picture_trademarks">
                                <img src="../images/altamira.jpg" alt="">
                            </div>
                        </div>
                        <div class="container_card_trademarks">
                            <div class="container_picture_trademarks">
                                <img src="../images/hidrocontrol.jpg" alt="">
                            </div>
                        </div> 
                        <div class="container_card_trademarks">
                            <div class="container_picture_trademarks">
                                <img src="../images/aquapak.jpg" alt="">
                            </div>
                        </div> 
                        <div class="container_card_trademarks">
                            <div class="container_picture_trademarks">
                                <img src="../images/warson.jpg">
                            </div>
                        </div> 
                        <div class="container_card_trademarks">
                            <div class="container_picture_trademarks">
                                <img src="../images/goulds.png" alt="">
                            </div>
                        </div> 
                        <div class="container_card_trademarks">
                            <div class="container_picture_trademarks">
                                <img src="../images/espa.jpg" alt="">
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div> 
    <footer>
       <p class="content_footer"> &copy; CRE Sistemas Control y Bombeo </p>
    </footer>
</body>
</html>